.box {
    max-width: 250px;
    margin: 0 auto;

    .mat-form-field {
        display: block;
    }
}
dl {
    dt {
        float: left;
        margin-right: 5px;
    }
    dd {
        margin: 0;
    }
}
