<mat-card class="box">
  <form [formGroup]="loginForm">
    <div>
      <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="Email" value="sss@sss.sss" required autofocus>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password" value="ssssss" required>
      </mat-form-field>
    </div>
    <button (click)="submit()" mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
