
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  text-align: center;
}
.text-success {
  color: #008b00;
}
.text-danger {
  color: #e54304;
}
